*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.circle{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid goldenrod;
}

.square{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: auto;
    margin-top: 20px;
    border: 2px solid;
}

.rectangle{
    width: 400px;
    height: 150px;
    background-color:red;
    margin: auto;
    margin-top: 20px;
    border: 2px solid;
}